apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "odoo-upgrader.fullname" . }}
  labels:
    {{- include "odoo-upgrader.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "odoo-upgrader.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "odoo-upgrader.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "odoo-upgrader.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: ODOO_UPGRADER_JOB_NAMESPACE
              value: {{ .Release.Namespace }}
            - name: ODOO_UPGRADER_CONCURRENT_JOBS_LIMIT
              value: {{ .Values.odooUpgrader.concurrentJobsLimit | quote }}
            - name: ODOO_UPGRADER_JOB_ENV
              value: {{ .Values.odooUpgrader.jobEnv | toJson | quote }}
            {{- with .Values.odooUpgrader.jobSecretEnv }}
            {{- if .name }}
            - name: ODOO_UPGRADER_JOB_SECRET_ENV
              valueFrom:
                secretKeyRef:
                  name: {{ .name | quote }}
                  key: {{ .key | quote }}
            {{- end }}
            {{- end }}
            - name: ODOO_UPGRADER_JOB_DOMAIN
              value: {{ .Values.odooUpgrader.jobDomain | quote }}
            - name: ODOO_UPGRADER_UPGRADE_PATHS
              value: {{ .Values.odooUpgrader.upgradePaths | toJson | quote }}
            - name: ARGO_SERVER
              value: {{ .Values.odooUpgrader.argo.server | quote }}
            - name: ARGO_NAMESPACE
              value: {{ .Values.odooUpgrader.argo.namespace | quote }}
            - name: ARGO_SECURE
              value: {{ .Values.odooUpgrader.argo.secure | quote }}
            - name: ODOO_UPGRADER_API_KEY
            {{- with .Values.odooUpgrader.apiKeySecret }}
            {{- if .generate }}
              valueFrom:
                secretKeyRef:
                  name: {{ include "odoo-upgrader.fullname" . }}
                  key: "apiKey"
            {{- else }}
              valueFrom:
                secretKeyRef:
                  name: {{ .name }}
                  key: {{ .key }}
            {{- end }}              
            {{- with .Values.odooUpgrader.argo.secret }}
            {{- if .name }}
            - name: ARGO_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .name | quote }}
                  key: {{ .key | quote }}
            {{- end }}
            {{- end }}
            {{- with .Values.odooUpgrader.extraEnv }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
