{{- if .Values.odooUpgrader.apiKeySecret.generate -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "odoo-upgrader.fullname" . }}
data:
  {{- if .Release.IsInstall }}
  apiKey: {{ randAlphaNum 128 | b64enc }}
  {{ else }}
  apiKey: {{ (lookup "v1" "Secret" .Release.Namespace (include "odoo-upgrader.fullname" .)).data.apiKey }}
  {{ end }}
{{- end }}
