name: Release Helm Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3.4
        with:
          version: v3.4.2
          
      - name: Lint Helm Charts
        run: |
          for chart in $(find . -name "Chart.yaml" -exec dirname {} \;); do 
            helm dependency build "$chart" && helm lint "$chart"
          done

      - name: Lint Helm Charts
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          for chart in $(find . -name "Chart.yaml" -exec dirname {} \;); do 
            helm dependency build "$chart" && helm lint "$chart"
          done

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_RELEASE_NAME_TEMPLATE: "helm-{{ .Name }}-{{ .Version }}"
          CR_SKIP_EXISTING: "true"
