name: Test Helm Charts

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0

      - name: Install Helm
        uses: azure/setup-helm@v3.4
        with:
          version: v3.19.0

      - name: Lint Helm Charts
        run: |
          set -euo pipefail
          for chart in $(find . -name "Chart.yaml" -exec dirname {} \;); do 
            helm dependency build "$chart" && helm lint "$chart"
          done
